//Title: Helpers

//sections:
//Clearfix
//Pull-parameters
//reset
//text-align
//vertical-rythem

/*----------------------
Clearfix
----------------------*/
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}




/*--------------------
Pull-parameters
--------------------*/
.pull {
	float:none;

	&--right {
		float: right;
	}

	&--left {
		float: left;
	}
}



/*-------------------
Reset
-------------------*/
%reset {
	margin:0; 
	padding:0;
}




/*-------------------
Text-align
-------------------*/
.text {
	text-align: left;

	&--center {
		text-align: center;
	}

	&--right {
		text-align: right;
	}
}




/*--------------------
Vertical Rythem
--------------------*/
%vertical-rythem {
	margin: 0 0 $magic-number 0;
	padding: 0;
}